<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <span class="navbar-brand">N.js/P</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NjsNavbar" aria-controls="NjsNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="NjsNavbar">
        <ul class="navbar-nav">
            {{#each navbar}}
            <li class="nav-item">
                <a class="nav-link{{#if_eq this.url ../path }} active{{/if_eq}}" href={{this.url}}>{{this.name}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</nav>