<div class="">
    <form>
        <label for="title">Title:</label>
        <input type="test" id="title">
        <label for="note">Note:</label>
        <input type="test" id="note">
        <button>Submit</button>
    </form>
</div>