<ul class="list-group">
    {{#if myNotes}}
        {{#each myNotes}}
        <li class="list-group-item">{{this.Note}}</li>
        {{/each}}
    {{else}}
        <li class="list-group-item">No notes</li>
    {{/if}}
</ul>
<a href="createNotes">Add</a>